@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900,900i");

.book-author {
  color: #E65C35 !important;
}

@media(max-width: 992px) {
  .navbar-collapse {
    margin-left: 50px;
  }

  .icon-users {
    display: none;
  }

  #navbarSupportedContent form {
    width: 200px;
    margin-left: -35px;
  }
}